body {
	background: black;
	overflow-y: hidden;    
}

h1 {
	text-align: center;
	color: white;
	font-family: Verdana;
	font-size: 50px;
	text-decoration: underline;
}



#topTitle{
	margin: 5px auto;

	width: 640px;
	border: 3px solid #ffffff;
	background: #0000ff;
	
}

#footer {
	text-align: center;
	color: grey;
}

#leftLogo {
	width: 150px;
	height:100px;
	border: 3px solid #ffffff;
}